body{
    font-family: Arial, sans-serif;
    background:#111;
    color:white;
    text-align:center;
}

header{
    padding:30px;
}

#dias{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:15px;
    margin:20px;
}

.dia{
    padding:20px;
    border-radius:10px;
}

.disponible{
    background:green;
}

.ocupado{
    background:red;
}